<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Filemater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Filemater.Properties.Settings>
            <setting name="MyLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyClientSize" serializeAs="String">
                <value>632, 446</value>
            </setting>
            <setting name="ResultsColumn" serializeAs="String">
                <value/>
            </setting>
            <setting name="OptionGetID3Tag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionGetExif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionGetImageSize" serializeAs="String">
                <value>False</value>
            </setting>
        </Filemater.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
